<div class="position-relative">
    <div class="">
        <a class="text-uppercase text-justify" href="/api/blogs/{{id}}">{{title}}</a>


        <button class="btn btn-primary" onclick="location.href='/dreams/edit/{{id}}'">Edit</button>
        <button class="delete-btn btn btn-primary" data-dream-id="{{id}}">Delete</button>
    </div>
</div>