<section class="user-info container mt-4">
    <h2>Welcome, {{name}}!</h2>
</section>
<section class="container mt-4">
    <h3>Your Blogs</h3>
    <div class="row"></div>
    <header class="">
        <div class="grid">
            {{#if blogs.length}}
            {{#each blogs}}
            {{> blog}}
        </div>
        {{/each}}
        {{else}}
        <p>You have not posted any blogs yet.</p>
        {{/if}}
        </div>
    </header>
    </div>
    <a class="btn btn-primary" href="/newblog">Post a New Blog Here</a>
</section>