<section class="container mt-4" id="newblog" userid="{{ user_id }}">
    <form id="postBlog" class="mt-3">
        <h3>Post a New Blog</h3>
        <div class="mb-3">
            <label for="blogTitle" class="form-label">Title</label>
            <input class="form-control" id="blogTitle" placeholder="New Tech Blog">
        </div>
        <div class="mb-3">
            <label for="blogBody" class="form-label">Content</label>
            <textarea class="form-control" id="blogBody" rows="3" placeholder="Something Amazing"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>

<script src="/js/newBlog.js"></script>