<div class="row">
    <div class="col-5 m-4">
        <form id="signup-form">
            <div class="mb-3">
                <h2>Signup</h2>
                <label class="form-label">Name:</label>
                <input type="text" class="form-control" id="name-signup">
            </div>
            <div class="mb-3">
                <label for="password-login" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password-signup">
            </div>
            <button type="submit" class="btn btn-primary">signup</button>
        </form>
    </div>
</div>

<script src="/js/signup.js"></script>